.preview {
    max-width: 180px;
  }

  input[type="file"] {
    font-size:small;
}
  
.btn-success{
    font-size:small;
    background-color: #6b6061e8;
    border-color: #6b6061e8;
}

.preview-img{
    border: 1px solid #ddddddab;
    margin-top: 21px;
}