<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <div class="footer-link">
                    <h4>Head Office Address</h4>
                    <p>No. 188, Ground Floor, 49th Street, Pazundaung Township, Yangon.

                    </p>
                    <ul class="list-unstyled footerlink">
                        <li><i aria-hidden="true" class="fa fa-phone"></i>09
                            777 398 222, 09 777 398 444, <br> 09 9651 194 96</li>
                            <li><i aria-hidden="true" class="fa fa-phone"></i>
                                enquiry@slcslogistic.com
                            </li>
                    </ul>
                    <!-- <hr class="custom-hr">
                    <p>No. 35/39 (001), Htee Tan Housing, Taw Win Street, Kyimyindine Township,
                        Yangon.</p>
                    <ul class="list-unstyled footerlink">
                        <li><i aria-hidden="true" class="fa fa-phone"></i>09
                            4500 150 35</li>
                            <li><i aria-hidden="true" class="fa fa-mail"></i>09
                                4500 150 35</li>
                    </ul> -->
                </div>

            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-link">
                    <h4>Important Links</h4>
                    <ul class="footer-link list-unstyled mb-0">
                        <li class="mb-3"><a href="">Company Profile</a></li>
                        <li class="mb-3"><a href="about-us">About Us</a></li>
                        <li class="mb-3"><a href="contact-us">Contact Us</a></li>
                        <li class="mb-3"><a href="announcement-lists">Announcements</a></li>
                    </ul>
                    <!-- <p>#01-03, 111 North Bridge Road, Peninsula Plaza, Singapore 179098</p>
                    <ul class="list-unstyled footerlink">
                        <li><i aria-hidden="true" class="fa fa-phone"></i>
                            +65 9433 1646</li>
                        <li><i aria-hidden="true"
                                class="fa fa-clock-o"></i>12 PM to 8 PM (Tue to Sat)</li>
                        <li><i aria-hidden="true"
                                class="fa fa-clock-o"></i>10:30 AM to 8 PM (Sun)</li>
                    </ul> -->
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="footer-link">
                    <h4>Follow Us</h4>
                    <ul class="top-social-icon ps-0" style="float:unset;">
                        <li><a href="https://www.facebook.com/slcs.silverlotus/" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                    </ul>
                    <!-- <p>Gantawin Restaurants (KUL) No. 29, Jalan Lebuh Pudu, 50050, Kuala Lumpur,
                        Malaysia.</p>
                    <ul class="list-unstyled footerlink">
                        <li><i aria-hidden="true" class="fa fa-phone"></i>01
                            622 932 97, 01 436 777 34</li>
                    </ul>
                    <hr class="custom-hr">
                    <p>No.28, Jalan Hamzah Alang3, 42200, Kapar, Klang, Selangor, Malaysia.</p>
                    <ul class="list-unstyled footerlink">
                        <li><i aria-hidden="true" class="fa fa-phone"></i>
                            01 761 668 76</li>
                    </ul> -->
                </div>
            </div>
            <div class="col-md-12">
                <p class="footer-bottom">Powered by <a href="https://www.systematic-solution.com/home" target="_blank">SYSTEMATIC BUSINESS SOLUTION</a></p>
            </div>
        </div>
    </div>
</footer>