

span {
    color: #fff;
}
.ft-pm-bg-img {
    bottom: 0;
    right: 0;
}
.quform-element > label{
    font-family: 'Barlow Condensed';
    font-size: 19px;
    color:#002a5c;
    font-weight:500;
}

.form-control{
    font-size:14px;
}

.butn-style1.fill{
    padding: 9px 40px !important;
    border-radius: 0;
    margin-top:30px;
}