<div class="">
    <div class="slc-page-title d-flex align-items-center header-layout-2 title-align-center title-color-white">
        <div class="slc-page-title-layer container">
            <div class="row">
                <div class="col-md-12">			
                    <h1 class="page-title">Quotation Enquiry Form</h1>
                                        <div class="page-breadcrumbs">
                        <div class="breadcrumb"><a href="#">Home</a> &gt; <span class="">Quotation Enquiry Form</span></div>					</div>
                                    </div>				
            </div>
        </div>
    </div>
    </div>
    
    <div class="container">
    <div class="form-bg">
        <span class="ft-pm-bg-img position-absolute"><img src="../../../assets/images/pm-bg.png" alt=""></span>
        <div class="row">
        <div class="col-lg-9">
            <form class="quform" action="quform/contact.php" method="post" enctype="multipart/form-data" onclick="">
                <div class="quform-elements">
                    <div class="row">
        
                        <div class="col-md-4">
                            <div class="quform-element">
                                <label for="name">Name <span class="quform-required">*</span></label>
                                <div class="quform-input">
                                    <input class="form-control" id="name" type="text" name="name" placeholder="Your name here" />
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="quform-element">
                                <label for="email">Email <span class="quform-required">*</span></label>
                                <div class="quform-input">
                                    <input class="form-control" id="email" type="text" name="email" placeholder="Your email here" />
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-4">
                            <div class="quform-element">
                                <label for="phone">Phone Number</label>
                                <div class="quform-input">
                                    <input class="form-control" id="phone" type="text" name="phone" placeholder="Your phone here" />
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-12">
                            <div class="quform-element">
                                <label for="message">Message <span class="quform-required">*</span></label>
                                <div class="quform-input">
                                    <textarea class="form-control h-auto" id="message" name="message" rows="4" placeholder="Tell us a few words"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="quform-element" style="margin-bottom:7px;">
                                <label for="message">Pictures of Cargo <span class="quform-required">*</span> (Provide Pictures for a faster and more accurate quote)</label>
                            </div>
                            <app-upload-images></app-upload-images>
                        </div>
             
                        <div class="col-md-12">
                            <div class="quform-submit-inner">
                                <a href="#!" class="butn-style1 fill small">Submit</a>
                            </div>
                            <div class="quform-loading-wrap text-start"><span class="quform-loading"></span></div>
                        </div>
                        <!-- End Submit button -->
            
                    </div>
                </div>
            </form>
           
        </div>
    </div>
   
                        
    </div>
    </div>
    