<section class="slider">
    <div class="">
        <owl-carousel-o [options]="customOptions" id="home_slide">
            <ng-template carouselSlide>
                <img [lazyLoad]="'../../../../assets/images/slider.jpg'" [defaultImage]="defaultLoadingImage"
                    [errorImage]="errorImage" alt="">
            </ng-template>
            <ng-template carouselSlide>
                <img [lazyLoad]="'../../../../assets/images/slider2.jpg'" [defaultImage]="defaultLoadingImage" alt="">
            </ng-template>
            <!-- <ng-template carouselSlide>
            <img [lazyLoad]="'../../../../assets/images/home-slider/3.jpg'" [defaultImage]="defaultLoadingImage" alt="">
        </ng-template> -->
        </owl-carousel-o>
    </div>
</section>

<section class="block service-block pt-0">
    <div class="container position-relative z-index-1">
        <div class="row mt-n1-9 align-items-center">
            <div class="col-lg-5 mb-3 mb-lg-0 best"><span _ngcontent-kyi-c21=""
                    class="d-block mb-2 text-secondary text-uppercase fw-bold"><img _ngcontent-kyi-c21=""
                        src="../../../assets/images/package-box.png" class="box">&nbsp;best services</span>
                <h2 class="mb-0">We ensure best logistics services for our clients.</h2>
            </div>
            <div class="col-lg-7">
                <div class="row justify-content-center">
                    <div data-wow-delay="200ms"
                        class="col-md-6 col-lg-4 col-xl-4 mt-1-9 wow fadeIn"
                        style="visibility: visible; animation-delay: 200ms; animation-name: fadeIn;">
                        <div class="card card-style2 border-0 h-100">
                            <div class="card-body text-center">
                                <div class="img"><img _ngcontent-kyi-c21=""
                                        src="../../../assets/images/freight.png" class="serviceImg"></div>
                                <h3 class="h5 service">Air Transportation</h3>
                            </div>
                        </div>
                    </div>
                    <div data-wow-delay="400ms"
                        class="col-md-6 col-lg-4 col-xl-4 mt-1-9 wow fadeIn"
                        style="visibility: visible; animation-delay: 400ms; animation-name: fadeIn;">
                        <div class="card card-style2 border-0 h-100">
                            <div class="card-body text-center"><img _ngcontent-kyi-c21=""
                                    src="../../../assets/images/ship.png" class="serviceImg">
                                <h3 class="h5 service">Sea Transportation</h3>
                            </div>
                        </div>
                    </div>
                    <div data-wow-delay="600ms"
                        class="col-md-6 col-lg-4 col-xl-4 mt-1-9 wow fadeIn"
                        style="visibility: visible; animation-delay: 600ms; animation-name: fadeIn;">
                        <div class="card card-style2 border-0 h-100">
                            <div class="card-body text-center"><img _ngcontent-kyi-c21=""
                                    src="../../../assets/images/import.png" class="serviceImg">
                                <h3 class="h5 service">Land Transportation</h3>
                            </div>
                        </div>
                    </div>
                    <div data-wow-delay="600ms"
                        class="col-md-6 col-lg-4 col-xl-4 mt-1-9 wow fadeIn"
                        style="visibility: visible; animation-delay: 600ms; animation-name: fadeIn;">
                        <div class="card card-style2 border-0 h-100">
                            <div class="card-body text-center"><img _ngcontent-kyi-c21=""
                                    src="../../../assets/images/service2.svg" class="serviceImg">
                                <h3 class="h5 service">Express Services</h3>
                            </div>
                        </div>
                    </div>
                    <div data-wow-delay="600ms"
                        class="col-md-6 col-lg-4 col-xl-4 mt-1-9 wow fadeIn"
                        style="visibility: visible; animation-delay: 600ms; animation-name: fadeIn;">
                        <div class="card card-style2 border-0 h-100">
                            <div class="card-body text-center"><img _ngcontent-kyi-c21=""
                                    src="../../../assets/images/service3.svg" class="serviceImg">
                                <h3 class="h5 service">Warehousing</h3>
                            </div>
                        </div>
                    </div>
                    <div data-wow-delay="600ms"
                        class="col-md-6 col-lg-4 col-xl-4 mt-1-9 wow fadeIn"
                        style="visibility: visible; animation-delay: 600ms; animation-name: fadeIn;">
                        <div class="card card-style2 border-0 h-100">
                            <div class="card-body text-center"><img _ngcontent-kyi-c21=""
                                    src="../../../assets/images/delivery-man.png" class="serviceImg">
                                <h3 class="h5 service">Customs Declaration</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="aboutus"
    style="padding-bottom:60px;background-position:center;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-2-2 mb-lg-0 wow fadeIn" data-wow-delay="200ms"
                style="visibility: visible; animation-delay: 200ms; animation-name: fadeIn;">
                <div class="pe-lg-1-9 pe-xl-2-9 position-relative z-index-1">
                    <!-- <span class="about-img d-none d-lg-inline-block">
                        <img src="../../../assets/images/dots1.png" alt="..." class="position-absolute left-n25 bottom-n20 z-index-minus2">
                    </span> -->
                    <img src="../../../assets/images/about.jpg" alt="..." class="rounded home-img img-fluid">
                </div>
            </div>
            <div class="col-lg-7 wow fadeIn" data-wow-delay="400ms"
                style="visibility: visible; animation-delay: 400ms; animation-name: fadeIn;">
                <div class="about-title">
                    <span class="text-secondary mb-2 d-block fw-bold text-uppercase">
                        <img class="box" src="../../../assets/images/package-box.png">About us</span>
                    <h2 class="mb-3">Our Company Profile</h2>
                    <p>Our company is called Sliver Lotus Courier Service (SLCS) Co., Ltd, and it was founded on October
                        18th, 2020, under Company Registration No. (128079254) for the purposes of Trading & Logistics
                        businesses. This is a thriving business, and we have seen positive growth in less than two
                        years. The company’s primary goal is to provide fast, secure and convenient logistics services...
                    </p>
                    <!-- <p>SLCS offers international logistics services. The Company provides Air transportation, Sea
                        transportation, Land transportation, Express Services, Warehousing, Customs declaration, and
                        Other services.</p> -->
                    <!-- <div class="post-read-more-link post-link">
                    <a href="#">Read More&nbsp;&nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div> -->
                    <a _ngcontent-jpb-c62="" href="about-us" class="butn-style1 small">Read More&nbsp;<i
                            class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="block why-us-container">
    <div class="container position-relative z-index-9">
        <div class="mb-2-6 mb-lg-6 text-center wow fadeIn" data-wow-delay="100ms"
            style="visibility: visible; animation-delay: 100ms; animation-name: fadeIn;padding: 55px 0;">
            <span class="d-block mb-2 text-white text-uppercase fw-bold">YOUR FASTEST DELIVERY</span>
            <h2 class="text-white mb-0 h1">A Local Business Bringing Your Local Goods</h2>
        </div>
    </div>
</section>

<section class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="slc-post-post-wrapper">
                    <div class="slc-post-post-thumbnail-wrapper">
                        <img class="post-image" src="../../../assets/images/new01.jpg" alt="">

                    </div>
                    <div class="slc-post-content-cover">
                        <div class="slc-post-date"><span class="slc-post-day">28</span> <span
                                class="slc-post-month">June, 2020</span></div>
                        <div class="slc-post-title">
                            <h3 class="post-title">
                                <a href="#">How do I Enquire About a Our Delivery</a>
                            </h3>
                            <p>We’re looking for curious, passionate people with a desire to solve challenging business
                                problems.</p>
                            <div class="post-read-more-link">
                                <a href="#">Read More&nbsp;&nbsp;<i class="fa fa-long-arrow-right"
                                        aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="slc-post-post-wrapper">
                    <div class="slc-post-post-thumbnail-wrapper">
                        <img class="post-image" src="../../../assets/images/new01.jpg" alt="">

                    </div>
                    <div class="slc-post-content-cover">
                        <div class="slc-post-date"><span class="slc-post-day">28</span> <span
                                class="slc-post-month">June, 2020</span></div>
                        <div class="slc-post-title">
                            <h3 class="post-title">
                                <a href="#">How do I Enquire About a Our Delivery</a>
                            </h3>
                            <p>We’re looking for curious, passionate people with a desire to solve challenging business
                                problems.</p>
                            <div class="post-read-more-link">
                                <a href="#">Read More&nbsp;&nbsp;<i class="fa fa-long-arrow-right"
                                        aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="slc-post-post-wrapper">
                    <div class="slc-post-post-thumbnail-wrapper">
                        <img class="post-image" src="../../../assets/images/new01.jpg" alt="">

                    </div>
                    <div class="slc-post-content-cover">
                        <div class="slc-post-date"><span class="slc-post-day">28</span> <span
                                class="slc-post-month">June, 2020</span></div>
                        <div class="slc-post-title">
                            <h3 class="post-title">
                                <a href="#">How do I Enquire About a Our Delivery</a>
                            </h3>
                            <p>We’re looking for curious, passionate people with a desire to solve challenging business
                                problems.</p>
                            <div class="post-read-more-link">
                                <a href="#">Read More&nbsp;&nbsp;<i class="fa fa-long-arrow-right"
                                        aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>