<div class="slc-page-title d-flex align-items-center header-layout-2
    title-align-center title-color-white">
    <div class="slc-page-title-layer container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">Contact Us</h1>
                <div class="page-breadcrumbs">
                    <div class="breadcrumb"><a href="#">Home</a> &gt; <span
                            class="">Contact Us</span></div> </div>
            </div>
        </div>
    </div>
</div>

<section class="block">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                    <div class="card card-style8 mt-1-9">
                        <div class="card-body p-1-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="media">
                                        <div class="icon-box">
                                            <!-- <i class="fa fa-map-marker text-primary z-index-9 position-relative"></i> -->
                                            <div class="box-circle primary"></div>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="h5 mb-4">Yangon Address</h4>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="media">
                                        <div class="media-body">
                                            <div class="contact-txt">
                                                <i _ngcontent-hdx-c21="" aria-hidden="true" class="fa fa-map-marker"></i>
                                                    <div>
                                                        <span class="d-block">No. 643/A, Pyitharyar Street, 16/4 Ward, Thingangyun Township, Yangon.</span>
                                                </div>
                                                </div>
                                            
                                            <div class="contact-txt">
                                            <i _ngcontent-hdx-c21="" aria-hidden="true" class="fa fa-phone"></i>
                                                <div>
                                                    <span>09 777 398 222, </span>
                                                <span>09 777 398 444</span>
                                            </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="media">
                                        <div class="media-body">
                                            <div class="contact-txt">
                                                <i _ngcontent-hdx-c21="" aria-hidden="true" class="fa fa-map-marker"></i>
                                                    <div>
                                                        <span class="d-block">No. 188, Ground Floor, 49th Street(Upper Block), Pazundaung Township, Yangon.</span>
                                                </div>
                                                </div>
                                            
                                            <div class="contact-txt">
                                                <i _ngcontent-hdx-c21="" aria-hidden="true" class="fa fa-phone"></i>
                                                    <div>
                                                        <span >09 777 398 222, </span>
                                                        <span > 09 777 398 444</span>
                                                        <span class="d-block"> 09 965 119 496</span>
                                                </div>
                                                </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="media">
                                        <div class="media-body">
                                            <div class="contact-txt">
                                                <i _ngcontent-hdx-c21="" aria-hidden="true" class="fa fa-map-marker"></i>
                                                    <div>
                                                        <span class="d-block">No. 40, Ground Floor, 19th Street (Lower Block), Latha Township, Yangon</span>
                                                </div>
                                                </div>
                                           
                                            
                                            <div class="contact-txt">
                                                <i _ngcontent-hdx-c21="" aria-hidden="true" class="fa fa-phone"></i>
                                                    <div>
                                                        <span >09 777 398 222, </span>
                                            <span > 09 777 398 444</span>
                                                </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="margin-bottom:30px;">
                                    <div class="media mt-3">
                                        <div class="media-body">
                                            <div class="contact-txt">
                                                <i _ngcontent-hdx-c21="" aria-hidden="true" class="fa fa-map-marker"></i>
                                                    <div>
                                                        <span class="d-block">No. 35/39 (001), Htee Tan Housing, Taw Win Street, Kyimyindine Township, Yangon.</span>
                                                </div>
                                                </div>
                                            
                                            <div class="contact-txt">
                                                <i _ngcontent-hdx-c21="" aria-hidden="true" class="fa fa-phone"></i>
                                                    <div>
                                                        <span >09 4500 150 35</span>
                                                </div>
                                                </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="media">
                                        <div class="icon-box">
                                            <!-- <i class="fa fa-map-marker text-primary z-index-9 position-relative"></i> -->
                                            <div class="box-circle primary"></div>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="h5 mb-4">Singapore Address</h4>
                                            <div class="contact-txt">
                                                <i _ngcontent-hdx-c21="" aria-hidden="true" class="fa fa-map-marker"></i>
                                                    <div>
                                                        <span class="d-block">#01-03, 111 North Bridge Road, Peninsula Plaza, Singapore 179098.</span>
                                                </div>
                                                </div>
                                                <div class="contact-txt">
                                                    <i _ngcontent-hdx-c21="" aria-hidden="true" class="fa fa-phone"></i>
                                                        <div>
                                                            <span >+65 972 474 64 </span>
                                                    </div>
                                                    </div>
                                                
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="media">
                                        <div class="icon-box">
                                            <!-- <i class="fa fa-map-marker text-primary z-index-9 position-relative"></i> -->
                                            <div class="box-circle primary"></div>
                                        </div>
                                       
                                        <div class="media-body">
                                            <h4 class="h5 mb-4" style="font-family:'Barlow condensed'">Malaysia Address</h4>
                                            <div class="contact-txt">
                                                <i _ngcontent-hdx-c21="" aria-hidden="true" class="fa fa-map-marker"></i>
                                                    <div>
                                                        <span class="d-block">Gantawin Restaurants (KUL) No. 29, Jalan Lebuh Pudu, 50050, Kuala Lumpur, Malaysia.</span>
                                                </div>
                                                </div>
                                                <div class="contact-txt">
                                                    <i _ngcontent-hdx-c21="" aria-hidden="true" class="fa fa-phone"></i>
                                                        <div>
                                                            <span >014 3677 731</span>
                                                    </div>
                                                    </div>
                                                
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="media cc" >
                                        <div class="media-body">
                                            <div class="contact-txt">
                                                <i _ngcontent-hdx-c21="" aria-hidden="true" class="fa fa-map-marker"></i>
                                                    <div>
                                                        <span class="d-block">No. 28, Jalan Hamzah Alang3, 42200, Kapar, Klang, Selangor, Malaysia.</span>
                                                </div>
                                                </div>
                                                <div class="contact-txt">
                                                    <i _ngcontent-hdx-c21="" aria-hidden="true" class="fa fa-phone"></i>
                                                        <div>
                                                            <span >01 761 668 76</span>
                                                    </div>
                                                    </div>
                                                
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-5 col-xl-4">
                    <div class="card card-style8 mt-1-9">
                        <div class="card-body p-1-9">
                            <div class="media">
                                <div class="icon-box">
                                    <div class="box-circle primary"></div>
                                </div>
                                <div class="media-body">
                                    <h4 class="h5">Yangon Address</h4>
                                    <span class="d-block">No. 188, Ground Floor, 49th Street (Uppder Block), Pazundaung Township, Yangon.</span>
                                    <span >09 777 398 222,</span>
                                    <span > 09 777 398 444,</span>
                                    <span > 09 965 119 496</span>
                                </div>
                            </div>
                        </div>
                    </div>
            </div> -->
                    <!-- <div class="card card-style8 mt-1-9">
                        <div class="card-body p-1-9">
                            <div class="media">
                                <div class="icon-box">
                                    <div class="box-circle primary"></div>
                                </div>
                                <div class="media-body">
                                    <h4 class="h5">Email Address</h4>
                                    <span class="d-block">enquiry@slcslogistic.com</span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- <div class="col-lg-7 col-xl-8">
                <div class="contact-form">
                    <h2 class="h3 mb-4">Quick Contact</h2>
                    <form class="quform" action="quform/contact.php" method="post" enctype="multipart/form-data" onclick="">
                        <div class="quform-elements">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="quform-element form-group">
                                        <label for="name">Your Name <span class="quform-required">*</span></label>
                                        <div class="quform-input">
                                            <input class="form-control" id="name" type="text" name="name" placeholder="Your name here">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="quform-element form-group">
                                        <label for="email">Your Email <span class="quform-required">*</span></label>
                                        <div class="quform-input">
                                            <input class="form-control" id="email" type="text" name="email" placeholder="Your email here">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="quform-element form-group quform-select-replaced">
                                        <label for="subject">Your Subject <span class="quform-required">*</span></label>
                                        <div class="quform-input">
                                            <input class="form-control" id="subject" type="text" name="subject" placeholder="Your subject here">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="quform-element form-group">
                                        <label for="phone">Contact Number</label>
                                        <div class="quform-input">
                                            <input class="form-control" id="phone" type="text" name="phone" placeholder="Your phone here">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="quform-element form-group">
                                        <label for="message">Message <span class="quform-required">*</span></label>
                                        <div class="quform-input">
                                            <textarea class="form-control h-auto" id="message" name="message" rows="3" placeholder="Tell us a few words"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="quform-submit-inner">
                                        <a href="#!" class="butn-style1 fill small">Submit</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div> -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="map mt-5">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3819.963122795431!2d96.16860231408909!3d16.7785102244972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1edd1cf19dd1b%3A0x97e91d7a1fab7b16!2sSLCS%20(Silver%20Lotus%20Couriers%20Service)!5e0!3m2!1smy!2smm!4v1670484408918!5m2!1smy!2smm" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                </div>
            </div>
       
</section>

<!-- <section class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3819.963122795431!2d96.16860231408909!3d16.7785102244972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1edd1cf19dd1b%3A0x97e91d7a1fab7b16!2sSLCS%20(Silver%20Lotus%20Couriers%20Service)!5e0!3m2!1smy!2smm!4v1670484408918!5m2!1smy!2smm" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        </div>
    </div>
</section> -->