<div class="slc-page-title d-flex align-items-center header-layout-2
    title-align-center title-color-white">
    <div class="slc-page-title-layer container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">About Us</h1>
                <div class="page-breadcrumbs">
                    <div class="breadcrumb"><a href="#">Home</a> &gt; <span
                            class="">About Us</span></div> </div>
            </div>
        </div>
    </div>
</div>

<section class="aboutus" style="padding-bottom:45px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 wow fadeIn" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeIn;">
                <div class="about-title">
                
                    <h2 class="mb-3">Our Company Profile</h2>
                   <p>Our company is called Sliver Lotus Courier Service (SLCS) Co., Ltd, and it was founded on October 18th, 2020, under Company Registration No. (128079254) for the purposes of Trading & Logistics businesses. This is a thriving business, and we have seen positive growth in less than two years. The company’s primary goal is to provide fast, secure and convenient logistics services.</p>
                   <p>SLCS offers international logistics services. The Company provides Air transportation, Sea transportation, Land transportation, Express Services, Warehousing, Customs declaration, and Other services.</p>
                  <p>Our company is expanding significantly, and we anticipate continuing to grow in the fiscal years 2022-2023. The company’s ultimate goal is to meet the demands of clients and  customers by providing adequate, efficient and low-cost transportation and logistics services. Our employees and other associated staff are doing their best and working hard to deliver the service to meet client’s requirements. We will persevere to make this organization one of the top firms in the world of logistics. We ensure and accept the responsibility of supplying our consumers with high-quality services.</p>
                </div>

            </div>
            <div class="col-lg-5 mb-2-2 mb-lg-0 wow fadeIn" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeIn;">
                <div class="pe-lg-1-9 pe-xl-2-9 position-relative z-index-1">
                    <!-- <span class="about-img d-none d-lg-inline-block">
                        <img src="../../../assets/images/dots1.png" alt="..." class="position-absolute left-n25 bottom-n20 z-index-minus2">
                    </span> -->
                    <img src="../../../assets/images/about.jpg" alt="..." class="rounded img-fluid">
                </div>
            </div>
           
        </div>
    </div>
</section>

<section class="block why-us-container theme-overlay-blue-dark" data-overlay-dark="5">
    <div class="container position-relative z-index-9">
        <div class="row g-xl-5 mt-n1-6">
            <div class="col-lg-6 col-md-6 mt-1-6 wow fadeIn" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeIn;">
                <div class="card card-style1 border-color-light-black h-100">
                    <div class="card-body text-center px-4 px-xl-5 py-4 py-md-6">
                        
                        <!-- <div class="service-icon text-center display-20">
                            <i class="ti-user display-25 display-sm-22 display-lg-20 position-relative"></i>
                        </div> -->
                        <h3 class="h5 mb-3 mt-2 position-relative"><a href="#!">Vision</a></h3>
                        <p class="mb-0 position-relative">Our vision is to become the leading logistics service provider in South East Asia and the world, offering safe and cost-effective logistics services.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mt-1-6 wow fadeIn" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeIn;">
                <div class="card card-style1 border-color-light-black h-100">
                    <div class="card-body text-center px-4 px-xl-5 py-4 py-md-6">
                       
                        <!-- <div class="service-icon text-center display-20">
                            <i class="ti-car display-25 display-sm-22 display-lg-20 position-relative"></i>
                        </div> -->
                        <h3 class="h5 mb-3 mt-2 position-relative"><a href="#!">Mission</a></h3>
                        <p class="mb-0 position-relative">Our mission is to provide a variety of services to meet the needs of our customers. In order to achieve long-term success and profitability, we are committed to integrity, reliability, longevity and productivity.</p>
                    </div>
                </div>
            </div>
        </div>
   </div>
</section>

   <section class="block half-bg position-relative z-index-9" data-scroll-index="3" style="padding-bottom:45px;padding-top:45px;">
    <div class="container">
        <div class="row align-items-stretch">
            <div class="col-lg-7 mt-5 mt-lg-0 order-2 order-lg-1">
                <div class="row g-0 align-items-center h-100">
                    <div class="col-12">
                        <div class="position-relative pe-xl-4 wow fadeIn" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeIn;">
                            <div class="left-side mb-0">
                                <h2 class="h1 mb-4">Our Strength</h2>
                                <p class="pb-3">To ensure the organization’s proper functioning, 14 executives work in clearing, freight forwarding and transportation, all of whom are supervised by managers and executives. We have a mentor with 20-30 years of experience who guides us through every aspect of operations and gives us advice on how to build a profitable and successful company.</p>
                               <div class="row">
                                <div class="col-md-12">
                                    <div class="testimonials-four">
                                    <div class="media py-1-9 px-4 px-sm-2-6 mb-3 rounded wow fadeInUp" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                                        <div class="icon-box mb-0">
                                            <!-- <i class="icon-trophy text-secondary z-index-9 position-relative"></i> -->
                                            <i class="fa fa-globe text-secondary z-index-9 position-relative" aria-hidden="true"></i>
                                            <div class="box-circle"></div>
                                        </div>
                                        <div class="media-body">
                                            <h3 class="mb-2 countup">Countries Associated</h3>
                                            <p class="mb-0">Taiwan, Cambodia, America, Australia, Canada, Japan, Korea, Dubai, India</p>
                                        </div>
                                    </div>
                                </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="testimonials-four">
                                    <div class="media py-1-9 px-4 px-sm-2-6 mb-3 rounded wow fadeInUp" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                                        <div class="icon-box mb-0">
                                            <!-- <i class="icon-trophy text-secondary z-index-9 position-relative"></i> -->
                                            <i class="fa fa-plane text-secondary z-index-9 position-relative" aria-hidden="true"></i>
                                            <div class="box-circle"></div>
                                        </div>
                                        <div class="media-body">
                                            <h3 class="mb-2 countup">Located at</h3>
                                            <p class="mb-0">Myanmar, Singapore, Malaysia, Bangkok</p>
                                        </div>
                                    </div>
                                </div>
                                </div>

                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 position-relative wow fadeIn" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeIn;">
                <div class="row align-items-center ps-lg-1-9 position-relative z-index-9">
                    <div class="col-sm-12 d-none d-sm-block">
                        <img src="https://wp.dreamitsolution.net/multilen/multilen-transport/wp-content/uploads/2021/10/transport-2-1.png" class="rounded img-fluid" alt="...">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>