.slc-page-title {
    text-align:center;
    height: 200px;
}

.slc-post-date{
    left:0;
    right:unset;
    top:-1px;
}

.slc-post-post-wrapper{
    border: 1px solid #e6f1f1;
    padding: 20px 20px 0 20px;
    margin-bottom:30px;
}

section.block{
    margin-top:45px;
}

.slc-page-title-layer {
    margin-top: 0;
}

span {
    color: #fff;
}

.card-style7 img{
    height: 500px;
    object-fit: cover;
}

.media{
    display:flex;
    img{
        height:77px;
    }
}

.media-body {
    a{
        color: #000;
        font-size:15px;
    }
}