<div class="slc-page-title d-flex align-items-center header-layout-2
    title-align-center title-color-white">
    <div class="slc-page-title-layer container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">All Announcements</h1>
                <div class="page-breadcrumbs">
                    <div class="breadcrumb"><a href="#">Home</a> &gt; <span
                            class="">All Announcements</span></div> </div>
            </div>
        </div>
    </div>
</div>

<section class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="slc-post-post-wrapper">
                    <div class="slc-post-post-thumbnail-wrapper">
                        <img class="post-image"
                            src="../../../assets/images/new01.jpg" alt="">
                    </div>
                    <div class="slc-post-content-cover">
                        <div class="slc-post-date"><span class="slc-post-day">28</span>
                            <span class="slc-post-month">June, 2020</span></div>
                        <div class="slc-post-title">
                            <h3 class="post-title">
                                <a href="announcement-detail">How do I Enquire About a Our
                                    Delivery</a>
                            </h3>
                            <p>We’re looking for curious, passionate people with
                                a desire to solve challenging business problems.</p>
                            <div class="post-read-more-link">
                                <a href="announcement-detail">Read More&nbsp;&nbsp;<i class="fa
                                        fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="slc-post-post-wrapper">
                    <div class="slc-post-post-thumbnail-wrapper">
                        <img class="post-image"
                            src="../../../assets/images/new01.jpg" alt="">
                    </div>
                    <div class="slc-post-content-cover">
                        <div class="slc-post-date"><span class="slc-post-day">28</span>
                            <span class="slc-post-month">June, 2020</span></div>
                        <div class="slc-post-title">
                            <h3 class="post-title">
                                <a href="announcement-detail">How do I Enquire About a Our
                                    Delivery</a>
                            </h3>
                            <p>We’re looking for curious, passionate people with
                                a desire to solve challenging business problems.</p>
                            <div class="post-read-more-link">
                                <a href="announcement-detail">Read More&nbsp;&nbsp;<i class="fa
                                        fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="slc-post-post-wrapper">
                    <div class="slc-post-post-thumbnail-wrapper">
                        <img class="post-image"
                            src="../../../assets/images/new01.jpg" alt="">
                    </div>
                    <div class="slc-post-content-cover">
                        <div class="slc-post-date"><span class="slc-post-day">28</span>
                            <span class="slc-post-month">June, 2020</span></div>
                        <div class="slc-post-title">
                            <h3 class="post-title">
                                <a href="announcement-detail">How do I Enquire About a Our
                                    Delivery</a>
                            </h3>
                            <p>We’re looking for curious, passionate people with
                                a desire to solve challenging business problems.</p>
                            <div class="post-read-more-link">
                                <a href="announcement-detail">Read More&nbsp;&nbsp;<i class="fa
                                        fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="slc-post-post-wrapper">
                    <div class="slc-post-post-thumbnail-wrapper">
                        <img class="post-image"
                            src="../../../assets/images/new01.jpg" alt="">
                    </div>
                    <div class="slc-post-content-cover">
                        <div class="slc-post-date"><span class="slc-post-day">28</span>
                            <span class="slc-post-month">June, 2020</span></div>
                        <div class="slc-post-title">
                            <h3 class="post-title">
                                <a href="announcement-detail">How do I Enquire About a Our
                                    Delivery</a>
                            </h3>
                            <p>We’re looking for curious, passionate people with
                                a desire to solve challenging business problems.</p>
                            <div class="post-read-more-link">
                                <a href="announcement-detail">Read More&nbsp;&nbsp;<i class="fa
                                        fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="slc-post-post-wrapper">
                    <div class="slc-post-post-thumbnail-wrapper">
                        <img class="post-image"
                            src="../../../assets/images/new01.jpg" alt="">
                    </div>
                    <div class="slc-post-content-cover">
                        <div class="slc-post-date"><span class="slc-post-day">28</span>
                            <span class="slc-post-month">June, 2020</span></div>
                        <div class="slc-post-title">
                            <h3 class="post-title">
                                <a href="announcement-detail">How do I Enquire About a Our
                                    Delivery</a>
                            </h3>
                            <p>We’re looking for curious, passionate people with
                                a desire to solve challenging business problems.</p>
                            <div class="post-read-more-link">
                                <a href="announcement-detail">Read More&nbsp;&nbsp;<i class="fa
                                        fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="slc-post-post-wrapper">
                    <div class="slc-post-post-thumbnail-wrapper">
                        <img class="post-image"
                            src="../../../assets/images/new01.jpg" alt="">
                    </div>
                    <div class="slc-post-content-cover">
                        <div class="slc-post-date"><span class="slc-post-day">28</span>
                            <span class="slc-post-month">June, 2020</span></div>
                        <div class="slc-post-title">
                            <h3 class="post-title">
                                <a href="announcement-detail">How do I Enquire About a Our
                                    Delivery</a>
                            </h3>
                            <p>We’re looking for curious, passionate people with
                                a desire to solve challenging business problems.</p>
                            <div class="post-read-more-link">
                                <a href="announcement-detail">Read More&nbsp;&nbsp;<i class="fa
                                        fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
