.slc-page-title {
    text-align:center;
    height: 200px;
}

.slc-post-date{
    left:0;
    right:unset;
    top:-1px;
}

.slc-post-post-wrapper{
    border: 1px solid #e6f1f1;
    padding: 20px 20px 0 20px;
    margin-bottom:30px;
}

.slc-page-title-layer {
    margin-top: 0;
}

section.block{
    margin-top:45px;
}

span {
    color: #fff;
}

.slc-post-date .slc-post-day{
    font-size: 29px;
    font-weight:600;
}